@tailwind base;
@tailwind components;
@tailwind utilities;

/* Responsive styles */
@media (max-width: 870px) {
    /* Hide logo on smaller screens */
    .header-logo {
      display: none;
    }
  
    /* Display mobile menu and adjust spacing */
    .mobile-menu {
      display: block;
      margin-left: auto;
    }
  
    /* Hide notification button and profile dropdown on smaller screens */
    .sm\\:block {
      display: none;
    }
    #mobile-menu {
        display: none; /* Hide mobile menu by default */
        position: absolute;
        top: 6rem;
        left: 0;
        right: 0;
        background-color: #1f2937; /* Dark background color */
        z-index: 10;
      }
    }

    @media only screen {
        
    }
  